.modal{
    border: #000 1px solid;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 2;
    background-color: chocolate;
    display: none;
}

.logo{
    text-align: right;
    margin-right: 80px;
    margin-top: 50px;
}

.imagenes{
    width: 500px;
    background-image: url('../../../assets/img/gnr.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.img-2{
    margin-left: auto;
    text-align: center;
    margin-top: 100px;
 }

.img-2 img{
    width: 100px;
    height: 80px;
    border-radius: 70%;
    opacity: 0.9;
    position: sticky;
    z-index: 1;
    cursor: pointer;   
}

.grid{
    display: grid;
    border-top: #000 2px solid;
    grid-template-columns: auto auto;
    grid-template-rows: 350px 350px;
}

.discripcion-video{
    margin-left: 15px;
    font-size: 20px;
}


@media (max-width: 992px) {
    .grid{
        grid-template-columns: auto;
    }
    .logo{
        display: none;
    }
    .modal{
        margin-top: 50px;
    }
}
