<div class="container contenedor-lista">
    <ul class="lista-menu">
        <li routerLink="/"><i class="fas fa-house-user"></i>
            <a> Home</a>   
        </li>
        <li routerLink="/tabla-datos"><i class="fas fa-table"></i>
            <a> Tabla</a>   
        </li>
        <li routerLink="/video"><i class="far fa-play-circle"></i>
            <a> Video</a>
        </li>
        <li routerLink="/user"><i class="far fa-user"></i>
            <a> Usuarios</a>
        </li>
    </ul> 
</div>
