<div class="container">
    <section class="r2" >
        <div class="container contenedor-link">
            <a routerLink="/tabla-datos" type="button">CLICK</a>
        </div>     
    </section>
    <section class="r3" style=" background-color: rgb(43, 226, 58);">
        <div class="container contenedor-link">
          <a routerLink="/video" type="button">CLICK</a>  
        </div>  
    </section>
    <section class="r4" style="background-color: rgb(226, 43, 43);">
        <div class="container contenedor-link">
         <a routerLink="/user" type="button">CLICK</a>   
        </div>     
    </section>   
</div>