.r2, .r3, .r4{
    width: 100%;
    height: 200px;
    text-align: center;
}

.contenedor-link{
    padding: 50px;
}

.r2{
    background: #EFEFBB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, hsla(27, 88%, 54%, 0.623),  hsla(275, 59%, 77%, 0.623)), url(../../../assets/img/logo.png);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right,hsla(27, 88%, 54%, 0.623), hsla(275, 59%, 77%, 0.623)), url(../../../assets/img/logo.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: contain;
	background-attachment: fixed;
	position: relative;	
}