<div class="container-fluid">
    <table class="tabla">
        <tr style="background-color: rgb(70, 66, 66);">
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>EMAIL</th>
            <th>FOTO</th>
        </tr>     
        <tr class="filas" *ngFor="let u of user">
            <td>#{{ u.id }}</td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td><i class="far fa-envelope"></i> {{ u.email }}</td>
            <td><img class="img" src={{u.avatar}} alt=""></td>
        </tr>
    </table>
</div>
